<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="readerCsvFiles" class="ru.otus.dataservice.ReaderResourceCsv">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>
    <bean id="converter" class="ru.otus.converter.ConverterCSV"/>
    <bean id="questDao" class="ru.otus.dao.QuestDaoCsv">
        <constructor-arg index="0" ref="readerCsvFiles"/>
        <constructor-arg index="1" ref="converter"/>
    </bean>
    <bean id="ioService" class="ru.otus.service.ConsoleIOService"/>
    <bean id="questionService" class="ru.otus.service.QuestionServiceImpl">
        <constructor-arg index="0" ref="questDao"/>
        <constructor-arg index="1" ref="ioService"/>
    </bean>
</beans>
